body
{
    background-color: #EAC026;
}
.forms
{
    margin-left: auto;
    margin-right: auto;
        width: 50%;
    }


.Login
{
    border-style: dashed;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin: 200px auto;
}

.Botones
{
   
    
}

.Botones:hover
{
    background-color: yellow;
}

.MP
{
    background-color: #FF9900;
    border-style: dashed;
}
